.Searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Searchbar form {
  min-width: 300px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.Searchbar * {
  height: 100%;
}
.Searchbar select:focus,
.Searchbar:focus select,
.Searchbar:focus select {
  outline: none;
}

.Searchbar select {
  border-radius: 10px 0px 0px 10px;
  border: none;
  text-align: center;
  border-right: 1px solid rgb(50, 50, 50);
  background-color: var(--clr-transparent);
}

.Searchbar input {
  flex-basis: 80%;
  background-color: inherit;
  outline: none;
  border: none;
  padding: 0 1em;
  background-color: var(--clr-transparent);
}
.Searchbar button {
  border-radius: 0 10px 10px 0;
  background-color: var(--clr-transparent);
  border: none;
  border-left: 1px solid rgb(50, 50, 50);
  padding: 0.6em 1.6em;
  font-weight: 500;
  font-family: inherit;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 200ms;
}

.Searchbar button i {
  font-size: 0.6rem;
}

.Searchbar button:hover {
  background-color: #535bf2;
}

.Searchbar .icon-search {
  max-height: 20px;
}
