* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color-scheme: dark;
}
html {
  background-color: black;
}

.Dashboard {
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  --clr-transparent: rgba(0, 0, 0, 0.5);
}

.Dashboard .bg {
  background: no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  filter: blur(3px) brightness(95%);
  object-fit: contain;
  height: 100vh;
  width: 100vw;

  /* background-image: url("../../assets/sunset.jpg"); */
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}

.crypto-module {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  overflow: scroll;
}

.weather-module {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}


.app-select-module {
  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 1em;
}

.module-frame {
  background-color: var(--clr-transparent);
  border-radius: 10px;
  transition: all 200ms;
}
.module-frame:hover {
  box-shadow: 0 0 10px #00ffff1a, 0 0 20px #00ffff1a, 0 0 30px #00ffff1a,
    0 0 40px #00ffff1a, 0 0 50px #00ffff1a, 0 0 60px #00ffff1a,
    0 0 70px #00ffff1a;
}

.center-frame {
}
.btn-min {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: yellow;
  width: 10px;
  height: 10px;
}

.clock-module {
  text-align: center;
  padding: 1.6em 2em;
  user-select: none;
  transition: 200ms all;
  text-shadow: 0 0 10px rgb(0, 255, 255);
}
.timer-module {
  position: absolute;

  bottom: 0;
}

.todo-module {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.search-module {
}

.author {
  font-size: 1rem;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

.blur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid #434343a3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-frame {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.news-module {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.notes-module {
  position: absolute;
  bottom: 0;
  right: 0;
}




a {
  color: inherit;
  text-decoration: none;
}